/**
 * médialab theme for reveal.js.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000;

$mainColor: #fbf9f0;
$headingColor: #fbf9f0;
$red: #fc5c52;

$mainFontSize: 42px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Bree Serif', serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 400;
$linkColor: $red;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #222;
    }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
